
.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dynapuff-bold {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

body {
    color: #448375;
    font-family: 'lato';
    margin: 0 auto 1.6rem auto;
    max-width: 40rem;
    background-color: #c8e3de;
}

img {
    border-radius: 5px;
    width:100%;
}

body > header h1 {
    color: #448375;
    font-family: "DynaPuff";
}

h1 {
    font-family: "DynaPuff";
    color: #448375;
}

h2 {
    font-family: 'lato';
    font-weight: bold;
    color: #448375;
}

time {
    font-family: 'lato';
    font-weight: bold;
    color: #448375;
}

article {
    border-bottom: 1px solid #448375;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

article:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

article header {
    color: #448375;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

article h1 {
    font-size: 28px;
    line-height: 33.6px;
    color: #448375;
}

article h1 a {
    color: #448375;
}

p, ul, ol, article > a {
    font-feature-settings: 'liga', 'kern';
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 20px;
    color: #448375;
}

article main h2 {
    font-size: 20px;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 8px;
    color: #448375;
}

footer {
    border-top: 1.5px solid #448375;
    margin-top: 25px;
    padding-top: 10px;
    color: #448375;
}

p a, article a, footer a, li a {
    color: #448375;
    font-style: italic;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

nav {
    height: 100%;
    text-align: right;
    margin: auto;
    height: 81.88px
}

nav > a {
    padding: 5px 10px;
    margin: 1.2em 2px;
    font-family: 'lato';
    font-size: 18px;
    background-color: none;
    color: #448375;
    text-decoration: none;
    font-weight: bold;
    border: 3px solid #448375;
    display: inline-block;
    vertical-align: middle;

}

.button {
    padding: 5px 10px;
    font-family: 'lato';
    font-size: 18px;
    background-color: none;
    color: #448375;
    text-decoration: none;
    font-weight: bold;
    border: 3px solid #448375;
    display: inline-block;
    vertical-align: middle;

}

header {
    margin-bottom: 20px;
}

.text {
    margin: 0 10px 20px 10px;
}
