<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - 1152142</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900" rel="stylesheet">
    <link rel="stylesheet" href="https://bron.kevin51.nl/stijl/kevin-eet-alles.css">
  </head>
  <body style="background-color: white;">
    <h1 style="color: #004d46">{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; Sven Bouman - 1152142
    </footer>
  </body>
</html>
